.header__top {
  background-color: #e8ebf1;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.07);
  padding: 37px 0 48px; }
  .header__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header__logo {
  display: inline-block; }

.header__logo-link {
  font-weight: 900;
  color: #000000;
  font-size: 50px; }
  .header__logo-link span {
    color: #2aacc8;
    font-weight: 400; }

.header__menu {
  display: inline-block; }

.header__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 20px; }

.header__item {
  padding: 10px 30px 11px 15px;
  position: relative;
  border-top: 5px solid transparent; }

.header__item-drop:hover {
  background: #fff;
  position: relative;
  border-top: 5px solid #2aacc8; }

.header__item-drop:hover .header__item-link {
  color: #2aacc8; }

.header__item-link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "arial", sans-serif; }
  .header__item-link:hover {
    color: #2aacc8; }
  .header__item-link object {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; }

.header__item-drop:hover .header__drop {
  display: block; }

.header__drop {
  display: none;
  list-style-type: none;
  background-color: #fff;
  background-color: #fff;
  border-bottom: 5px solid #2aacc8;
  position: absolute;
  margin-top: 10px;
  left: 0;
  width: 200px;
  padding: 15px;
  z-index: 100; }

.header__drop-item {
  position: relative;
  padding: 9px 0 8px;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  font-family: "arial", sans-serif; }

.header__drop-item:not(:last-child):after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #e8ebf1;
  bottom: 0;
  left: 0; }

.header__drop-link {
  line-height: 30px; }
  .header__drop-link:hover {
    color: #2aacc8; }

.header__bottom {
  padding-top: 19px;
  background-color: #81e4ed; }

.header .swiper-container {
  width: 100%;
  height: 100%; }

.header .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.header .slide-inner {
  position: relative; }

.header .swiper-container-horizontal > .swiper-pagination-bullets,
.header .swiper-pagination-custom,
.header .swiper-pagination-fraction {
  bottom: -15px;
  height: 50px;
  position: relative; }

.header .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 8px; }

.header .swiper-pagination-bullet-active {
  background-color: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  color: #000000; }
  body ::selection {
    background-color: #DF5936;
    color: #fff; }

a {
  color: #000000;
  text-decoration: none; }

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px; }

.title-first {
  position: absolute;
  color: #fff;
  left: 50px;
  max-width: 294px;
  font-size: 50px;
  text-align: left;
  top: 50%;
  transform: translateY(-50%); }

.title-second {
  font-size: 15px;
  font-weight: 700;
  font-family: "arial", sans-serif;
  text-transform: uppercase;
  display: inline-block; }

.benefits {
  padding: 60px 0 52px;
  background-color: #e8ebf1;
  border: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.07); }
  .benefits__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .benefits__item {
    flex: 0 0 22%; }
  .benefits__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
  .benefits__icon {
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px; }
  .benefits__icon::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute; }
  .benefits__icon-1::after {
    width: 21px;
    height: 29px;
    background: url(/images/pencil.svg); }
  .benefits__icon-2::after {
    width: 23px;
    height: 21px;
    background: url(/images/fullscreen.svg); }
  .benefits__icon-3::after {
    width: 20px;
    height: 20px;
    background: url(/images/view_list.svg); }
  .benefits__icon-4::after {
    width: 23px;
    height: 24px;
    background: url(/images/plane.svg); }
  .benefits__descr {
    font-size: 13px;
    font-weight: 400;
    font-family: "arial", sans-serif;
    line-height: 20px;
    color: #363636;
    margin-bottom: 28px; }
  .benefits__link {
    font-size: 13px;
    font-weight: 400;
    font-family: "arial", sans-serif;
    color: #2aacc8;
    text-transform: capitalize; }
    .benefits__link:hover {
      color: #81e4ed; }
  .benefits__link::before {
    content: "";
    background: url(/images/down_arrow.svg);
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    display: inline-block; }

.review {
  padding: 19px 0 39px; }
  .review .works {
    position: relative;
    padding: 9px 0 20px; }
    .review .works .title-second {
      background: url(/images/arrow_blue.svg);
      background-repeat: no-repeat;
      height: 28px;
      padding-top: 12px;
      padding-left: 40px; }
  .review .slider {
    padding: 20px 0 40px;
    border-top: 1px solid #e8ebf1;
    border-bottom: 1px solid #e8ebf1; }
  .review .swiper-button-prev,
  .review .swiper-button-next {
    outline: none;
    color: #434343;
    opacity: 1;
    background-color: #81e4ed;
    border-radius: 50%;
    width: 20px;
    height: 20px; }
  .review .swiper-button-prev {
    right: 40px;
    left: auto; }
  .review .swiper-button-prev::after {
    content: "";
    background: url(/images/arrow_left.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 10px; }
  .review .swiper-button-next::after {
    content: "";
    background: url(/images/arrow_right.png);
    background-repeat: no-repeat;
    width: 6px;
    height: 10px; }
