*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato',
    sans-serif;
    color: $color-black;

    ::selection {
        background-color: #DF5936;
        color: #fff;
    }
}

a {
    color: $color-black;
    text-decoration: none;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: inline-block;
}

.logo-link {
    font-weight: 900;
    color: $color-black;
    font-size: 50px;

    span {
        color: $color-primary-thertiary;
        font-weight: 400;
    }
}

.title-first {
    position: absolute;
    color: #fff;
    left: 50px;
    max-width: 294px;
    font-size: 50px;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}

    .title-second {
    font-size: 15px;
    font-weight: 700;
    font-family: "arial",
        sans-serif;
    text-transform: uppercase;
    display: inline-block;
}