//  BENEFITS SECTION START


.benefits {

    padding: 60px 0 52px;
    background-color: #e8ebf1;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.07);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        flex: 0 0 22%;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        background-color: $color-primary-thertiary;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    &__icon::after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
    }

    &__icon-1::after {
        width: 21px;
        height: 29px;
        background: url(/images/pencil.svg);
    }

    &__icon-2::after {
        width: 23px;
        height: 21px;
        background: url(/images/fullscreen.svg);
    }

    &__icon-3::after {
        width: 20px;
        height: 20px;
        background: url(/images/view_list.svg);
    }

    &__icon-4::after {
        width: 23px;
        height: 24px;
        background: url(/images/plane.svg);
    }

    &__descr {
        font-size: 13px;
        font-weight: 400;
        font-family: "arial",
        sans-serif;
        line-height: 20px;
        color: $color-prymary;
        margin-bottom: 28px;
    }

    &__link {
        font-size: 13px;
        font-weight: 400;
        font-family: "arial",
            sans-serif;
        color: $color-primary-thertiary;
        text-transform: capitalize;

        &:hover {
            color: $color-primary-second;
        }
    } 

    &__link::before {
        content: "";
        background: url(/images/down_arrow.svg);
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        width: 20px;
        height: 20px;
        display: inline-block;
    }
}

// BENEFITS SECTION END





// REVIEW SECTION START


.review {
    padding: 19px 0 39px;

    .works {
        position: relative;
        padding: 9px 0 20px;

        .title-second {
            background: url(/images/arrow_blue.svg);
            background-repeat: no-repeat;
            height: 28px;
            padding-top: 12px;
            padding-left: 40px;
        }

        // .title-second::before {
        //     content: "";
        //     background: url(/images/arrow_blue.svg);
        //     background-repeat: no-repeat;
        //     width: 50px;
        //     height: 29px;
        //     display: inline-block;
        // }
    }
    .slider {
        padding: 20px 0 40px;
        border-top: 1px solid $color-grey-light;
        border-bottom: 1px solid $color-grey-light;

    }

    .swiper-button-prev,
    .swiper-button-next {
        outline: none;
        color: #434343;
        opacity: 1;
        background-color: $color-primary-second;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .swiper-button-prev {
        right: 40px;
        left: auto;
    }

    .swiper-button-prev::after {
        content: "";
        background: url(/images/arrow_left.png);
        background-repeat: no-repeat;
        width: 8px;
        height: 10px;
    }

    .swiper-button-next::after {
        content: "";
        background: url(/images/arrow_right.png);
        background-repeat: no-repeat;
        width: 6px;
        height: 10px;
    }

    .review__wrapper {
        padding: 25px 0 41px;
        display: flex;
        justify-content: space-between;
        &>div {
            flex: 0 0 45%;
        }
        
        .test {
            .title-second {
                background: url(/images/comments.svg);
                background-repeat: no-repeat;
                padding-left: 42px;
                height: 28px;
                padding-top: 9px;
                margin-bottom: 20px;
            }
            &__descr {
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: $color-prymary;
                margin-bottom: 35px;
            }

            &__copyright {
                font-size: 14px;
                font-weight: 700;
                font-family: "arial",
                sans-serif;
                font-style: italic;
            }
        }

        .clients {
            .title-second {
                background: url(/images/clients.svg);
                background-repeat: no-repeat;
                padding-left: 42px;
                height: 28px;
                padding-top: 9px;
                margin-bottom: 20px;
            }
        }
    }

    &__bottom {
        background-color: #e8fcfe;
        border: 1px solid hsl(185, 87%, 76%);
        padding: 37px 31px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-descr {
            width: 70%;
        }
        &-btn {
            padding: 20px 20px 20px 71px;
            background-color: #2aacc8;
            background: url(/images/download.svg) no-repeat 10% 40%, linear-gradient(0.0deg, #2aacc8 0%, #60cede 10%, #72dae6 50%, #81e4ed 100%);
            background-position: 10% 40%;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            border: 1px solid #2aacc8;
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #0d0707;
            cursor: pointer;
            outline: none;
            transition: transform .3s;
            backface-visibility: hidden;
            &:hover {
                transform: translateY(-1px);
                box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
            }
            &:active {
                transform: translateY(1px);
                box-shadow: none;

            }
        }
    }
}

